.main {
  position: absolute;
  height: 900px;
  width: 900px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(-30deg);
  bottom: -70%;
  right: -20%;
}
.main img {
  position: absolute;
  height: 60%;
}
.main img:nth-of-type(1) {
  top: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.main img:nth-of-type(2) {
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%) rotate(-180deg);
}
.main img:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  left: -20%;
}
.main img:nth-of-type(4) {
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right: -20%;
}

@media (max-width: 1175px) {
  .main {
    height: 800px;
    width: 800px;
  }
}

@media (max-width: 1115px) {
  .main {
    height: 700px;
    width: 700px;
    bottom: -50%;
    right: -25%;
  }
}

@media (max-width: 1010px) {
  .main {
    height: 600px;
    width: 600px;
    bottom: -50%;
    right: -25%;
  }
}

@media (max-width: 900px) {
  .main {
    height: 500px;
    width: 500px;
    bottom: -35%;
    right: -20%;
  }
}

@media (max-width: 730px) {
  .main {
    height: 400px;
    width: 400px;
    bottom: -25%;
    right: -20%;
  }
}
@media (max-width: 450px) {
  .main {
    height: 400px;
    width: 400px;
    bottom: -25%;
    right: -30%;
  }
}

@media (max-width: 350px) {
  .main {
    height: 300px;
    width: 300px;
    bottom: -25%;
    right: -30%;
  }
}
